<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="style.css" />
    <meta name="description" content="Car Rental" />
    <meta name="keywords" content="Car Rental" />
    <title>CarRental</title>
</head>
<body>
<nav class="menu-bar">
    <ul class="dropdown">
        <li class="aactive"><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/branches}">Branches</a></li>
        <li><a th:href="@{/contact}">Contact</a></li>
        <li><a href="#">Login</a></li>
    </ul>
</nav>
<div class="branch" >
<div class="branchList">
    <ul th:each="branch : ${branches}">
        <li ><a th:href="@{'/branches&'+branch.city}" th:text="${branch.city}">City</a>
            <a th:text="${branch.street}">Street</a>
            <a th:text="${branch.localNumber}">LocalNumber</a>
            <a th:text="${branch.flatNumber}">FlatNumber</a>
        </li>
    </ul>
</div>

</div>
</body>
</html>

